- name: "Setting up The Lounge Docker on CentOS host"
  hosts: "{{ hostaddr }}"
  remote_user: "{{ username }}"
  become: yes
  become_method: "sudo"
  become_user: "root"
  tasks:
    - name: "STEP 1 - Install EPEL repositories on the remote machine"
      dnf:
        name: "epel-release"
        state: "latest"
    - name: "STEP 2 - Install python3-docker on the remote machine"
      dnf:
        name: "python3-docker"
        state: "latest"
    - name: "STEP 3 - Pull linuxserver/thelounge:latest from DockerHub"
      community.docker.docker_image:
        name: "linuxserver/thelounge:latest"
        source: "pull"
    - name: "STEP 4 - Make directories for storing The Lounge configuration"
      file:
        path: "{{ lxsvtlng_conf }}"
        state: "directory"
    - name: "STEP 5 - Configure and start the The Lounge container"
      community.docker.docker_container:
        name: "{{ lxsvtlng_hostname }}"
        image: "linuxserver/thelounge:latest"
        restart_policy: "always"
        ports:
          - "{{ lxsvtlng_webp }}:9000/tcp"
        env:
          PUID: "1000"
          PGID: "1000"
          TZ: "{{ lxsvtlng_timezone }}"
        volumes:
          - "{{ lxsvtlng_conf }}:/config"
    - name: "STEP 6 - Remove python3-docker from the remote machine"
      dnf:
        name: "python3-docker"
        state: "absent"
